*{
    box-sizing:border-box;
    }
    
    :root{
    --white:#FFF;
    --primary:#A249D5;
    }

a{  
 text-decoration: none;
    color: white;
}
    
    body{
    width:100vw;
    height:100vh;
    margin:0;
    overflow:hidden !important;
    font-family: 'Source Sans 3', sans-serif !important;
    background-color: #000;
    background-position:center;
    background-size:cover;
    display:flex;
    align-items:center;
    justify-content:center;
    
    position:relative;
    }
    
    .content{
    width:70%;
    text-align:center;
    }
   
    
    .content h1{
    color:var(--white);
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent ;
    font-size:4.5em;
    font-family: 'Raleway', sans-serif;
    font-weight:900;
    
    }
    
    .content h2{
    color:var(--white);
    position:relative;
    top:-30px;
    font-weight:200;
    }
    
    .content .social_icons{
    position:fixed;
    right:2vw;
    bottom:2vh;
    }
    
    .content .social_icons:before{
    content:"";
    width:1px;
    height:100%;
    background-color:var(--white);
    position:absolute;
    top:-100%;
    }
    
    .content .social_icons a{
    margin:10px 0px;
    color:var(--white);
    display:block;
    text-decoration:none;
    font-size:1.5em;
    transition:0.5s;
    }
    
    .content .social_icons a:hover{
    color:var(--primary);
    }

    @media screen and (max-width: 1020px) {
    .content h1{
    font-size:2em;
    }
    .content h2{
    position:relative;
    top:-10px;
    }
    }
    
    @media screen and (max-width: 820px) {
    .content{
    width:100%;
    padding:1rem;
    }
    .content h1{
    font-size:2.5em;
    }
    .content h2{
    position:relative;
    top:-10px;
    }
    .content .social_icons{
    position:absolute;
    width:100%;
    right:0vw;
    bottom:1vh;
    display:flex;
    align-items:center;
    justify-content:center;
    }
    
    .content .social_icons a{
    margin:0 15px;
    }
    
    .content .social_icons:before{
    content:"";
    width:0px;
    height:0%;
    top:00%;
    }
    }
